      body{
        background-color: #181820;
        font-family:PingFangSC,arial,verdana,Microsoft YaHei,sans-serif;
        .agreement-content{
          width: 89.333333%;
          margin:0 auto;
        }
        p{
          color:#bbb;
          font-size:14px;
          line-height:1.43;
          text-align: justify;
        }
        .welcome{
          color:#757575;
          text-align:center;
          margin:2em 0 1.5em;
        }
      }
      @media(min-width:768px){
        p,h2{
          font-size: 25px;
        }
      }