@font-face {
    font-family: 'FontAwesome';
    src: url("/static/images/font.woff") format('woff'),
    url("/static/images/font.svg") format('svg');
}

a,
a:hover,
a:active,
a:focus,
a:visited {
    text-decoration: none;
    outline: none;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Segoe UI", "Microsoft YaHei", "Source Han Sans CN", "Noto Sans CN", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html,
body,
h1,
h2 {
    padding: 0;
    margin: 0;
}

h1,
h2 {
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background:url("/static/images/bg@2x.png");
    background-size: cover;
    background-repeat: no-repeat;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#main {
    width: 100vmin;
    height: 100vmin;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50vmin;
    margin-left: -50vmin;
}

#background,
#content {
    width: 100%;
    height: 100%;
    position: absolute;
}

#background {
    z-index: 0;
}

#content {
    z-index: 1;
}

#light {
    width: 95.75%;
    height: 95.75%;
    position: absolute;
    left: 1.667%;
    top: -0.583%;
    transform: scale(1, 0.47826);
}

#lightbottom {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffe345;
}

#lighttop {
    box-sizing: border-box;
    position: absolute;
    bottom: 78.6788%;
    left: 9.0424%;
    width: 93.9693%;
    height: 200%;
    transform: rotate(15deg);
    transform-origin: left bottom;
}

#lighttop1,
#lighttop {
    overflow: hidden;
}

#lighttop1 {
    width: 93.9693%;
    height: 200%;
    position: absolute;
    left: 0;
    bottom: 0;
    transform-origin: left bottom;
    transform: rotate(20deg);
}

#lighttop2 {
    width: 100%;
    height: 200%;
    position: absolute;
    left: 0;
    bottom: -100%;
    transform-origin: left center;
    transform: rotate(-40deg);
    background: #ffd745;
}

#content {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

#logo {
    position: absolute;
    top: 10%;
    left: 40%;
    width: 20%;
    border-radius: 23%;
    color: #fff;
}

#text {
    position: absolute;
    left: 17%;
    width: 66%;
    height: 3.75%;
    top: 40%;
    color: #fff;
    font-size: 3vmin;
    font-weight: 200;
}

#youxitext {
    position: absolute;
    color: #fff;
    font-size: 6vmin;
    margin: 0;
    top: 27%;
    left: 43%;
    font-weight: 200;
}

#android,
#apple {
    display: block;
    position: absolute;
    top: 50%;
    width: 25%;
    height: 8.33%;
    border-radius: 1.2vmin;
    color: #fff;
    line-height: 8.33vmin;
    text-align: center;
    font-weight: normal;
    font-size: 2.5vmin;
    background: url("/static/images/rectangle.svg");
    background-size: 100% 100%;
}

#apple {
    left: 20%;
}

#android {
    right: 20%;
}

.logo {
    font-style: normal;
    font-family: FontAwesome;
    font-size: 4vmin;
    vertical-align: middle;
    margin-right: 0.5em;
    line-height: 8.33vmin;
}

#footer {
    display: block;
    text-align: center;
    position: absolute;
    bottom: 2%;
    width: 100%;
    font-size: 1.6vmin;
    line-height: 3vmin;
    color: #fff;
    cursor: default;
}

#footer a {
    color: #fff;
}