<!DOCTYPE html>
<html lang="zh-Hans">

<head>
  <meta charset="utf-8" />
  <title>有戏 - 侃出有意思</title>
  <meta name="description" content="有戏是一款社交短视频软件，在这里可以侃侃生活和趣事，也可以吐槽日常与奇葩，在这里有各式各样有趣的话题，用不同的方式讲述你的故事！" />
  <link rel="icon" href="{{ config.path_prefix }}/images/favicon.ico" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" type="text/css" href="{{config.path_prefix}}/css/download.css" />
</head>

<body>
  <div id="main">
    <div id="content">
      <h1 id="logow">
        <img id="logo" src="{{config.path_prefix}}/images/logo.png" alt="有戏" />
        <p id="youxitext">有戏</p>
      </h1>
      <h2 id="text">好看的皮囊or有趣的灵魂？来有戏，全都有～</h2>
      <a target="_blank" href="https://itunes.apple.com/cn/app/id1250817654?mt=8" id="apple">
        <i class="logo" id="applelogo">&#xf179;</i>iPhone 下载</a>
      <a target="_blank" href="http://spark-files.bjcnc.scs.sohucs.com/app-test-0.1.0-0517T12-release.apk" id="android">
        <i class="logo" id="androidlogo">&#xf17b;</i>Android 下载</a>
      <footer id="footer">Copyright (C) 2017 Sohu.com Inc. All Rights Reserved. 搜狐公司 版权所有
        <br />联系电话
        <a href="tel:010-62727713">010-62727713</a>
      </footer>
    </div>
  </div>
  <script src="{{config.path_prefix}}/js/common/errorReport.js"></script>
</body>

</html>