<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ config.path_prefix }}/css/lib/mui.min.css">
  <title>音乐</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    html,
    body {
      height: 100%;
      width: 100%;
    }

    .music-img {
      border: none;
      display:block
    }
  </style>
  <script>
  </script>
</head>

<body>
  <img class="music-img" src="{{ config.path_prefix }}/images/music-first@2x.jpg" width="100%"></img>
  <img class="music-img" src="{{ config.path_prefix }}/images/music-second@2x.jpg" width="100%"></img>
  <img class="music-img" src="{{ config.path_prefix }}/images/music-third@2x.jpg" width="100%"></img>  
</body>
<script>
</script>

</html>