<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>微信登录提示</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }
    html,
    body {
      height: 100%;
      width: 100%;
    }
    .music-img {
      border: none;
      display:block;
      min-height: 100%;
    }
  </style>
  <script>
  </script>
</head>

<body>
  <img class="music-img" src="{{ config.path_prefix }}/images/weixinTip.png" width="100%"></img>
</body>
<script>
</script>

</html>